@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

#tsparticles {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #011938;
}

:root {
  --pages: #ffffff;
  --navbar: #011938;
  --sidebar: #000a16;
  --sidebarIcons: #059429;
  --fontPages: #000000;
  --fontMenu: #ffffff;
  --login: #00a529;
  --loginBg: #002f6d;
  --red: rgb(255, 0, 0);
}

/*  styling scrollbars  */
::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a5aaad;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3ea175;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a5aaad;
}

.container-dashboard {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar nav nav nav"
    "sidebar main main main";
}

@media only screen and (max-width: 978px) {
  .container-dashboard {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "nav"
      "main";
  }
}
